# USER
user_name=130
user_domain=192.168.190.2
user_display=測試
user_organization=
auth_realm=
auth_name=130
auth_pass=123456789
# SIP SERVER
outbound_proxy=192.168.190.2
all_requests_to_proxy=no
registrar=192.168.190.2
register_at_startup=yes
registration_time=3600
# RTP AUDIO
codecs=speex-uwb
out_far_end_codec_pref=yes
speex_nb_payload_type=97
speex_wb_payload_type=98
speex_uwb_payload_type=99
speex_bit_rate_type=cbr
speex_dtx=no
speex_penh=yes
speex_quality=6
speex_complexity=3
speex_dsp_vad=no
speex_dsp_agc=no
speex_dsp_aec=no
speex_dsp_nrd=no
speex_dsp_agc_level=20
ilbc_payload_type=96
ptime=20
dtmf_payload_type=101
dtmf_duration=100
dtmf_pause=40
dtmf_volume=10
# SIP PROTOCOL
hold_variant=rfc3264
check_max_forwards=no
allow_missing_contact_reg=yes
registration_time_in_contact=yes
compact_headers=no
use_domain_in_contact=yes
allow_redirection=no
ask_user_to_redirect=yes
max_redirections=5
ext_100rel=supported
referee_hold=no
referrer_hold=yes
allow_refer=yes
ask_user_to_refer=yes
auto_refresh_refer_sub=no
# NAT
nat_public_ip=
#stun_server=**sip.foo.bar**:10000
# TIMERS
timer_noanswer=30
timer_nat_keepalive=30
# ADDRESS FORMAT
display_useronly_phone=yes
numerical_user_is_phone=no
# RING TONES
ringtone_file=
ringback_file=
# SCRIPTS
script_incoming_call=
